// Colors
$primary: #46529d;
$primary-darken: #3a48a0;
$secondary: #95a5c6;
$white: #fff;

// Text Color
$text-white: #fafafc;
$text-white-dim: #e3e5f0;
$text-dark: #9fa4c4;
$text-yellow: #efd526;

$text-primary: $primary;
$text-warning: $text-yellow;

// Shadows
$shadow-5: 0 8px 32px rgba(0,0,0,0.2);

// Typography
$font-family: 'Josefin Sans', sans-serif;
